.cls-main-container {
  display: grid;
  font-family: Verdana;
  font-size: large;
  color: brown;
  margin: 0px;
  padding: 0px;

}

.cls-navigation-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 50px;
  background-color: blanchedalmond;

}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.nav-links a {
  text-decoration: none;
}

.cls-vitals-list {
  display: grid;
  row-gap: 10px;
}

.cls-vital-card {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: max-content;
}

.cls-vital-card:hover {
  border-color: #646cff;
}

.cls-vital-card:focus,
.cls-vital-card:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .cls-vital-card {
    background-color: #f9f9f9;
  }
}

